@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'header';
@import 'footer';
@import 'catalog';
@import 'contacts';
@import 'react-lazy-load-image-component/src/effects/blur.css';
@import 'errorPage';
@import 'product';
@import '~tachyons/css/tachyons.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}
body {
    background: #f1faff;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
.dark-mode {
    background: #00121b;
}
._container {
    max-width: 1230px;
    margin: 0px auto;
    padding: 0px 15px;
}
@media screen and (max-width:1200px) {
    ._container {
        max-width: 970px;
    }
}
@media screen and (max-width:990px){
    ._container {
        max-width: 800px;
    }
}


.bg-gray {
    background-color: var(--color-gray);
  }
  
  .color-gray {
    color: var(--color-gray);
  }
  
  .btn {
    cursor: pointer;
  }
  
  .absolute-center-y {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .item-grid {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  
  .w15 {
    width: 1.5rem;
  }
  
  .h15 {
    height: 1.5rem;
  }
  
  .w125 {
    width: 1.25rem;
  }
  
  .h125 {
    height: 1.25rem;
  }
  
  .checkbox {
    box-shadow: 0 0 0 1.5px var(--color-gray-dark);
  }
  
  .checkbox:hover,
  .checkbox:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 1.5px var(--color-primary);
  }
  
  .checkbox:hover .checkbox__icon,
  .checkbox:focus .checkbox__icon {
    color: var(--color-primary);
  }
  
  .checkbox [data-state='checked'] {
    display: flex;
  }
  
  .search {
    box-shadow: 0 2px 0 0 var(--color-gray-dark);
  }
  
  .search.focused {
    box-shadow: 0 2px 0 0 var(--color-primary);
  }
  
  .slider[data-orientation='horizontal'] {
    height: 20px;
  }
  
  .slider__track,
  .slider__range {
    height: 3px;
  }
  
  .slider__range {
    content: '';
    display: block;
    position: absolute;
  }
  
  .slider__thumb {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
  
  .slider__thumb:hover {
    background-color: var(--color-primary);
  }
  
  .select {
    box-shadow: 0 0 0 2px var(--color-gray-dark);
  }
  
  .select:focus {
    box-shadow: 0 0 0 2px var(--color-primary);
  }

